@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@model AdminTrainingTestViewModel
<script src="~/Scripts/Tinymce1/tinymce.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Catamaran:200,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br /><br /><br /><br /><br /><br />
<script>
    tinymce.init({
        selector: "textarea",
        height: 100,
        plugins: [
          "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
          "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
          "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],

        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",
        connector: '/Gastronomia' + '/Upload/Index',
        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [{
            title: 'Bold text',
            inline: 'b'
        }, {
            title: 'Red text',
            inline: 'span',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Red header',
            block: 'h1',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Example 1',
            inline: 'span',
            classes: 'example1'
        }, {
            title: 'Example 2',
            inline: 'span',
            classes: 'example2'
        }, {
            title: 'Table styles'
        }, {
            title: 'Table row 1',
            selector: 'tr',
            classes: 'tablerow1'
        }],

        templates: [{
            title: 'Test template 1',
            content: 'Test 1'
        }, {
            title: 'Test template 2',
            content: 'Test 2'
        }],

    });
</script>
 @using (Html.BeginForm("AddTrueorFlase", "AdminTraining", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
@Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-5">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BaQu_Id)
            @Html.LabelFor(model => model.TrFa_Question, htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.EditorFor(model => model.TrFa_Question, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre pregunta", @style = "width:70%" } })
            @Html.ValidationMessageFor(model => model.TrFa_Question, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-7">
            @Html.LabelFor(model => model.TrFa_Description, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.TrFa_Description, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
            @Html.ValidationMessageFor(model => model.TrFa_Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.TrFa_Content, new { @class = "form-control", @row = 5 })
            </div>
        </div>
        <div class="col-md-5">
            @Html.LabelFor(model => model.TrFa_State, htmlAttributes: new { @class = "control-label col-md-3" })
            @Html.EnumDropDownListFor(model => model.TrFa_State, new { @class = "form-control", @style = "width:70%" })
            @Html.ValidationMessageFor(model => model.TrFa_State, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-12">
            <br /><br />
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <center><button class="btn btn-primary" name="singin" type="submit">Crear Pregunta</button></center>
            </div>
        </div>
    </div>
 }
<br><hr style="width:100%; clear:both; border:dashed; border-color: #F57C00; border-width:thin; margin-bottom:10px;">