@using SCORM1.Models.MeasuringSystem
  @model BossResultsViewModel

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<div class="col-lg-12">
    <div class="jumbotron">
        @if (Model.FirstScore.Scores.Count == 0)
        {
            <div class="caja_graficas">
                <div class="caja_graficas">
                    <center><h2>NO HAY COMPETENCIAS QUE MOSTRAR</h2> </center>
                    <img src="~/Content/Images/background-no-result.jpg" class="img-responsive" alt="Imagen responsive">
                </div>
            </div>
        }
        else
        {
            <div class="contenedorCompetencias">
                @foreach (Score score in Model.FirstScore.Scores.ToList())
                {
                    <div data-type="caja_contCompe" class="caja_contCompe col-md-2 col-sm-4 col-xs-6" style="width:auto; height:auto;">
                        <div class="HeaderBarThreshold">
                            <div class="competencia">@score.Value</div>
                            <asp:LinkButton ID="SetThreshold" OnClick="btnSetThreshold_Click" runat="server"></asp:LinkButton>
                            <h5 style="color:black"> Competencia:   @score.Proficiency.ProficiencyId </h5>
                        </div>
                        <div class="TextHidenBoss">
                            <p style="font-size:15px; color:white;" class="lead"> @score.Proficiency.ProficiencyDescription </p>
                        </div>
                    </div>
                }
            </div>
            <div class="titulo"><center><h3>Resultados Obtenidos por el Usuario</h3></center></div>

        <!--div of grafics for Company-->
            <div id="Graphic">
                <div class="caja_graficas">
                    <canvas id="bar-chart" width="800" height="450"></canvas>
                    <script>
                        new Chart(document.getElementById("bar-chart"), {
                            type: 'bar',
                            data: {
                                labels: ["Competencia 1", "Competencia 2", "Competencia 3", "Competencia 4", "Competencia 5", "Competencia 6"],
                                datasets: [
                                  {
                                      label: "Puntaje",
                                      backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#5450c4"],
                                      data: [@Model.ResultChart[0]]
                                  }
                                ]
                            },
                            options: {
                                legend: { display: false },
                                title: {
                                    display: true,
                                    text: 'Resumen General'
                                }
                            }
                        });</script>

                 </div>
            </div>
            if (Model.NumberMesuare > 1)
            {
                foreach (Score score in Model.FirstScore.Scores.ToList())
                {
                    <button class="btn btn-success btn-susess" onclick='GraphicsForCompany(@score.Proficiency.ProficiencyId)'> Competencia: @score.Proficiency.ProficiencyId </button>
                }
                <button class="btn btn-success btn-susess" onclick="GraficsForCompanyGeneral()">General</button>
            }

              <!--grafica de lineas prueba-->
            <div id="Graphic2">
                <div class="caja_graficas">
                    <canvas id="line-chart" width="800" height="450"></canvas>
                    <script>
                        new Chart(document.getElementById("line-chart"), {
                            type: 'line',
                            data: {
                                labels: ["Competencia 1", "Competencia 2", "Competencia 3", "Competencia 4", "Competencia 5", "Competencia 6"],
                                datasets: [{
                                    data: [@Model.ResultChartUser[0]],
                                    label: "Personal",
                                    borderColor: "#3e95cd",
                                    fill: false
                                }, {
                                    data: [@Model.ResultChartUser[1]],
                                    label: "Compañero",
                                    borderColor: "#8e5ea2",
                                    fill: false
                                }, {
                                    data: [@Model.ResultChartUser[2]],
                                    label: "Jefe",
                                    borderColor: "#3cba9f",
                                    fill: false
                                }, {
                                    data: [@Model.ResultChartUser[3]],
                                    label: "Clientes",
                                    borderColor: "#e8c3b9",
                                    fill: false
                                }, {
                                    data: [@Model.ResultChartUser[4]],
                                    label: "Subalternos",
                                    borderColor: "#c45850",
                                    fill: false
                                }
                                ]
                            },
                            options: {
                                title: {
                                    display: true,
                                    text: 'Resumen General de Mediciones'
                                }
                            }
                        });
                    </script>
                </div>
            </div>


        <!--div of grafics for Company-->
            <script>
                function GraphicsForCompany(Graphic) {
                    var link = '@Url.Action("GraphicsForUser", "User", new { GraphicId = "value" })';
                    link = link.replace("value", Graphic)
                    $("#Graphic").load(link);
                }
                function GraficsForCompanyGeneral() {
                    var link = '@Url.Action("GraphicsForUserGeneral", "User")';
                    $("#Graphic").load(link);
                }
            </script>
        }
    </div>
</div>
