@using SCORM1.Enum
@using Microsoft.AspNet.Identity


<!DOCTYPE html>
<html>
<head class="site-header" style="visibility: visible;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scade=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Content Group</title> @*se establece el nombre de la pestaña*@
    <link rel="shortcut icon" href="~/Content/Images/favicon/favicon_contentgrp.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:200,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <meta name="mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title Content Group</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/StyleHome.css")
    @Styles.Render("~/Content/style1.css")
<style>
        :root{
        --color-BarraSup: @Model.ColorBarraSup;
        --color-Iconos: @Model.ColorIconos;
        --color-Textos: @Model.ColorTextos;
        --color-Boton: @Model.ColorBoton;
        --color-Textbtn: @Model.ColorTextBtn;
        --color-Menu: @Model.ColorMenu;
        --color-TextMenu: @Model.ColorTextMenu;
		}
        .color-iconos{
            color: var(--color-Iconos);
        }
    #btn-landing {
        position: absolute;
        border-color: var(--color-Boton);
        color: var(--color-Textbtn);
        font-family: 'Source Sans Pro';
        font-size: 4vw;
        text-align: center;
        z-index: 999;
    }
    .color-btn-footer {
        border-color: var(--color-Iconos) !important;
        color: var(--color-Textbtn) !important;
    }
    .titulos-footer {
        padding: 20px;
        background-color: transparent;
        position:absolute;
        font-weight:700;
        color: var(--color-Iconos) !important;

    }
</style>


</head>
<body>
   
    <div>
        @RenderBody()
    </div>

    @*To-Do remove model null chek*@
    @if (Model != null && Model.Sesion == SESION.No)
    {
        <script>
             window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }

    @if (Request.IsAuthenticated)
    {
        <br />
        <br />
        <footer class="site-footer">
            <div id="block-footer-highlight-footer" class="block block-block-content block-block-contentb1b63cd5-a33b-46d1-9d3e-a058a2d93893">
                <div class="teaser">
                    <div class="teaser">
                        <div class="page-hat simple">
                            <div class="page-hat--content">
                                @*<div class="page-hat--title js-letters-effect clearfix text-formatted field field--name-field-text-animation field--type-text-long field--label-hidden field__items" id="textfooter" style=" opacity: 1;margin-left:-10vw;margin-top:10vh;position:absolute">
                                        <p id="pfooter1" style="">CONOCE AQUÍ NUESTRA</p><p id="pfooter2" style="text-align: -webkit-auto"><b>OFERTA DE CURSOS</b></p>
                                    </div>*@
                            </div>
                        </div>
                        <div class="container" style="position:relative">
                            <div class="row justify-content-end">
                                <p class="titulos-footer" style=" font-size:50px; margin-top:10%; margin-right:55%">CONOCE AQUÍ</p>
                                <a class="titulos-footer" style="font-size:30px; margin-top: 15%; margin-right:40%">@*@Model.TituloFooter*@</a>
                            </div>
                            <div class="row justify-content-end">
                                <a id="btn-landing" class="button-action color-btn-footer" href="@Model.LinkSitioWeb" target="_blank" style="font-size:50px; margin-right:50px; margin-top: 30%;">CLIC AQUÍ</a>
                            </div>
                        </div>
                        <img src="~/Content/Images/footer/slide-footer.jpg" alt=" " typeof="foaf:Image" style="width:100%;margin-bottom: -6px">
                    </div>
                </div>
            </div>
            @*el codigo de color en el primer div es una variable en el background-color: #dcdcdc*@
            <div class="site-footer--sitemap" style="background-color:#dcdcdc">
                <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer" class="list-links block block-menu navigation menu--footer" style="column-count: auto;">
                    <ul class="menu">
                        @*todo los estilos de color:#000000 son una variable*@
                        <li class="menu-item">
                            <a href="@Url.Action("Create", "Contacto")" target="_blank" style="font-weight: 100; color:#000000">MESA DE SERVICIOS</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://aprendeyavanza2.com.co/contentGroup/SUP/Documentos/Plataforma%20Ataraxia.pdf" target="_blank" style="font-weight: 100; color:#000000">GUÍA DE NAVEGACIÓN</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://aprendeyavanza2.com.co/PlataformaSilver/TermsandConditions/POLITICA%20DE%20PRIVACIDAD.pdf" target="_self" style="font-weight: 100; color:#000000">TÉRMINOS Y CONDICIONES</a>
                        </li>
                        <li class="menu-item">
                            <a href="@Model.LinkSitioWeb" style="font-weight: 100; color:#000000" data-drupal-link-system-path="node/526">SITIO WEB @Model.Title2</a>
                        </li>
                    </ul>
                </nav>
                <nav role="navigation" aria-labelledby="block-sociallinks-menu" id="block-sociallinks" class="list-community block block-menu navigation menu--social-links">
                    <h2 class="list-community--title" id="block-sociallinks-menu" style="color: #000000">VISÍTANOS</h2>
                    <ul class="menu">
                        <li class="menu-item">
                            <i class="fab fa-facebook-square fa-3x color-iconos"></i>
                        </li>
                        <li class="menu-item">
                            <i class="fab fa-twitter-square fa-3x color-iconos"></i>
                        </li>
                        <li class="menu-item">
                            <i class="fab fa-instagram fa-3x color-iconos"></i>
                        </li>
                        <li class="menu-item">
                            <i class="fab fa-youtube fa-3x color-iconos"></i>
                        </li>
                        <li class="menu-item">
                            <i class="fab fa-linkedin fa-3x color-iconos"></i>
                        </li>
                    </ul>
                </nav>
                <nav role="navigation" aria-labelledby="block-legalmenu-menu" id="block-legalmenu" class="list-simple block block-menu navigation menu--legal">
                    <ul class="menu">
                        <li class="menu-item" style="color: #000000">
                            <span>© 2021</span>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="#" data-drupal-link-system-path="node/461">Power By: Content Group SAS </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    }
    @RenderSection("scripts", required: false)
</body>
</html>
