@using SCORM1.Enum
@using Microsoft.AspNet.Identity



<!DOCTYPE html>
<html>
<head class="site-header" style="visibility: visible;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,minimum-scade=1.0">
    <meta http-equiv='X-UA-Compatible' content='IE=8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Content Group</title> @*se establece el nombre de la pestaña*@
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,400,400i,700" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:200,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
    <meta name="mobile-web-app-capable" content="yes">
    <title>@ViewBag.Title UnAula MI</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/StyleHome.css")
    @Styles.Render("~/Content/style1.css")
    


</head>
<body>

    <div>
        @RenderBody()
    </div>




    @*To-Do remove model null chek*@
    @if (Model != null && Model.Sesion == SESION.No )
    {
        <script>
             window.location.href = '@Url.Action("Index", "Home")';
        </script>
    }

    @if (Request.IsAuthenticated)
    {
        <br />
        <br />
        <footer class="site-footer">
            <div id="block-footer-highlight-footer" class="block block-block-content block-block-contentb1b63cd5-a33b-46d1-9d3e-a058a2d93893">
                <div class="teaser">
                    <div class="teaser">
                        <div class="page-hat simple">
                            <div class="page-hat--content">
                                @*<div class="page-hat--title js-letters-effect clearfix text-formatted field field--name-field-text-animation field--type-text-long field--label-hidden field__items" id="textfooter" style=" opacity: 1;margin-left:-10vw;margin-top:10vh;position:absolute">
                                    <p id="pfooter1" style="">CONOCE AQUÍ NUESTRA</p><p id="pfooter2" style="text-align: -webkit-auto"><b>OFERTA DE CURSOS</b></p>
                                </div>*@
                            </div>
                        </div>
                        <div class="container" style="position:relative">
                            <div class="row justify-content-end">
                                <a id="btn-landing" class="button-action" href="https://www.finxs.co/" target="_blank" style=" margin-right:50px; margin-top: 45%;">CLIC AQUÍ</a>
                            </div>
                        </div>
                        <img src="~/Content/Images/footer/slide-footer.jpg" alt=" " typeof="foaf:Image" style="width:100%;margin-bottom: -6px">
                    </div>
                </div>
            </div>
            @*el codigo de color en el primer div es una variable en el background-color: #dcdcdc*@
            <div class="site-footer--sitemap" style="background-color:#dcdcdc">
                <nav role="navigation" aria-labelledby="block-footer-menu" id="block-footer" class="list-links block block-menu navigation menu--footer" style="column-count: auto;">
                    <ul class="menu">
                        @*todo los estilos de color:#000000 son una variable*@
                        <li class="menu-item">
                            <a href="https://aprendeyavanza2.com.co/bureauveritastrainingcommunity/Contacto/Create" target="_blank" style="font-weight: 100; color:#000000">MESA DE SERVICIOS</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://aprendeyavanza2.com.co/contentGroup/bureau/Documentos/Guia%20navegacion%20bv.pdf " target="_blank" style="font-weight: 100; color:#000000">GUÍA DE NAVEGACIÓN</a>
                        </li>                       
                        <li class="menu-item">
                            <a href="https://aprendeyavanza2.com.co/contentgroup/bureau/termsAndConditions.pdf" target="_self" style="font-weight: 100; color:#000000">TÉRMINOS Y CONDICIONES</a>
                        </li>
                        <li class="menu-item">
                            <a href="https://www.finxs.co/" style="font-weight: 100; color:#000000" data-drupal-link-system-path="node/526">SITIO WEB FINXS</a>
                        </li>
                    </ul>
                </nav>
                <nav role="navigation" aria-labelledby="block-sociallinks-menu" id="block-sociallinks" class="list-community block block-menu navigation menu--social-links">
                    <h2 class="list-community--title" id="block-sociallinks-menu" style="color: #000000">VISÍTANOS</h2>
                    <ul class="menu">
                        <li class="menu-item" style="color: #000000">
                            <a href="https://www.facebook.com/BureauVeritasCO/" class="facebook" target="_blank">Facebook</a>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="https://twitter.com/BureauVeritasCO" class="twitter" target="_blank">Twitter</a>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="#" class="instagram" target="_blank">Instagram</a>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="https://www.youtube.com/channel/UC3AnuK5Z8v9M5wR2lwT-M6A" class="youtube" target="_blank">YouTube</a>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="https://www.linkedin.com/showcase/bureauveritasco/" class="linkedin" target="_blank">Linkedin</a>
                        </li>
                    </ul>
                </nav>
                <nav role="navigation" aria-labelledby="block-legalmenu-menu" id="block-legalmenu" class="list-simple block block-menu navigation menu--legal">
                    <ul class="menu">
                        <li class="menu-item" style="color: #000000">
                            <span>© 2021</span>
                        </li>
                        <li class="menu-item" style="color: #000000">
                            <a href="#" data-drupal-link-system-path="node/461">Power By: Content Group SAS </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>

    }
    @RenderSection("scripts", required: false)
</body>
</html>
