@model SCORM1.Models.LoginViewModel

<div class="jumbotron1" id="jumbotron1" style="width:35%;height:110% 
">
    <div id="margendellogin">        
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div style="border: solid 1px #FFFFFF; border-radius: 5px; margin-bottom:50px;margin-left:50px ;margin-right:20px;margin-top:30%; padding: 10px;">
                    <div class="form-group">
                        <div class="row" style="margin-top:5%">
                            <img src="~/Content/Images/slider-login/logo-bv-fondo-claro.png" style="margin:auto; width:75%" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group" style="background-color:#FFFFFF">
                                <span class="input-group-btn">
                                    <img src="~/Content/Images/slider-login/user-icon.png" style="background-color:#FFFFFF;margin-right:-10px;margin-left:10px;margin-top: 8px;"/>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = Html.DisplayNameFor(x => x.Email), @class = "form-control", @style = "color:#000 !important;background-color: white; border:none; margin-left:5%;margin-right:5%; " })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="input-group" style="background-color:#FFFFFF">
                                <span class="input-group-btn">
                                    <img src="~/Content/Images/slider-login/password-icon.png" style="background-color:#FFFFFF;margin-right:-13px;margin-left:10px;margin-top: 8px;" />
                                </span>
                                @Html.PasswordFor(m => m.Password, new { @placeholder = "Contraseña", @class = "form-control", @style = "color:#000 !important;background-color: whiter; border:none; margin-left:5%;margin-right:5%;" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                     </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="INGRESAR" style="background-color: #fc3650;color:#FFFFFF;text-align:center;margin-right:5%; margin-bottom:10%; width:100%;line-height:2;max-width:none;border-style: none;" />
                            <br />
                            @*<p style="position:center;margin-top: 5%; margin-right:0%;" id="RecordarPass">
                            @Html.ActionLink("¿Olvidaste tu contraseña?", "ForgotPassword", "Account", routeValues: null, htmlAttributes: new { @class = "", @style = "color:#fff;  background-color:transparent;" })

                            <br />
                            <a href="https://bvtrainingcommunity.com/" style = "color:#fff;  background-color:transparent;">¿No estás registrado?</a>
                        </p>*@
                        </div>
                    </div>
            </div>
        
            }

        </div>
    <div class="row justify-content-center" style="margin-top:2%">
        <div>
            <p style="font-family: 'Source Sans Pro'; color: white; margin-left: auto"> 
                Desarrollado por<strong> Content Group <br />
                Tratamiento de datos</strong>
            </p>
        </div>
    </div>






    <!--<div class="container-fluid" id="d"> -->
    @*<section>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="hidden-xs col-sm-3 col-md-6 col-lg-6">
                            <div class="showMenuindex">

                                    <img  class="none" src="~/Content/Images/settings.png" />

                                <nav class="menuVertical" style="background:rgba(0, 0, 0, 0.0) !important; ">
                                    <ul class="menudespleg">
                                        <li id="listwa"><a href="http://apps.sanmateovirtual.edu.co/pub/mesadeayuda/" target="_blank">Mesa De Ayuda</a></li>
                                        <li id="listwa"><a id="BTN_ADD" href="#" data-toggle="modal" data-target="#myModal">Contactos</a></li>
                                        <li id="listwa"><a id="BTN_ADD2" href="#" data-toggle="modal" data-target="#form">Contacte a su tutor</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="hidden-xs col-sm-3 col-md-6 col-lg-6">
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Descarga Nuestra Aplicacion Movil">
                                <a href="https://www.aprendeyavanza2.com.co/Gastronomia/Recursos/gastronomia.apk" target="_blank" style="color:#323232;  background-color:transparent;">
                                    <img src="~/Content/Images/android.png" class="imgandroid" />
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <div class="row">
                        <div class="hidden-xs col-sm-3 col-md-6 col-lg">
                            <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Descarga El Manual De Uso Del Aplicativo Movil">
                                <a href="https://www.aprendeyavanza2.com.co/Gastronomia/Recursos/ManualScore3.0.pdf" target="_blank" style="color:#323232;  background-color:transparent;">
                                <img src="~/Content/Images/office.png" class="imgandroid" /></a>
                            </span>
                        </div>
                    </div>

                </div>

            </div>

        </section>*@
    <!-- </div> -->

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
            $('.dropdown-toggle').dropdown()
        })

    </script>

</div>



