<style>
    :root{
        --color-BarraSup: @Model.ColorBarraSup;
        --color-Iconos: @Model.ColorIconos;
        --color-Textos: @Model.ColorTextos;
        --color-Boton: @Model.ColorBoton;
        --color-Textbtn: @Model.ColorTextBtn;
        --color-Menu: @Model.ColorMenu;
        --color-TextMenu: @Model.ColorTextMenu;
    }
    .colorBarraSup{
        background-color: var(--color-BarraSup);
    }
    .colorIconos{
        fill: var(--color-Iconos);
    }
    .colorTextos{
        color: var(--color-Textos);
    }
    .colorBoton{
        background-color: var(--color-Boton);
    }
    .colorTextbtn{
        color: var(--color-Textbtn);
    }
    .colorMenu{
        background-color: var(--color-Menu);
    }
    .colorTextMenu{
        color: var(--color-TextMenu);
    }
</style>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()<!-- Inicio Del Contenedor General Del Banner   -->


        <!-- Inicio Del Contenedor General Del Banner   -->

        <nav class="navbar navbar-expand-lg colorBarraSup" style="padding: initial">
            <span class="navbar-text colorTextbtn">
                <a>@Html.ActionLink("Hola " + Session["FirstName"] + " " + Session["LastName"] + "!", "ProfileUser", "User", routeValues: null, htmlAttributes: new { title = "Manage", @style = "color:#000000; padding: 14px 16px; z-index:1000" })</a>
            </span>
            <span class="menu-scroll" onclick="openNav()">&#9776;</span>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="button" href="javascript:document.getElementById('logoutForm').submit()" style=" color: @Model.ColortituloIndex;background-color: @Model.ColorBoton;border:@Model.ColorBoton;font-weight:700;display: block;text-align: center;padding: 14px 16px;z-index:1000;font-family: 'BureauVeritas-ThinUltraCondensed';">CERRAR SESIÓN</a>
                </li>
            </ul>
            <header class="site-header" style="visibility: visible;">
                <div class="site-heading" style="margin-top: 50px;">
                    <div class="site-logo ">
                        <div id="block-sitebranding" class="site-logo--inner block block-system block-system-branding-block">
                            <h1>C</h1>
                        </div>
                    </div>
                    <nav role="navigation" aria-labelledby="block-mainnavigation-menu" id="block-mainnavigation" class="main-menu block block-menu navigation menu--main">
                        <ul class="menu menu-level-0" style="text-align:center; margin-left:20vw">
                            <li class="menu-item menu-item--collapsed colorMenu colorTextMenu">
                                <a href="@Url.Action("Index", "Home")" data-drupal-link-system-path="node/236" style="color:#000000; padding-left: 25px; padding-right:25px;">INICIO</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>
                            @*<li class="menu-item menu-item--collapsed" style="background-color: #dcdcdc94;">
                                    <a href="@Url.Action("ListModuleVirtual", "User")" data-drupal-link-system-path="node/236" style="color:#000000">ZONA DE APRENDIZAJE</a>
                                    <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>*@
                            <li class="menu-item menu-item--collapsed colorMenu colorTextMenu">
                                <a href="@Url.Action("ComunidadSocial", "Home")" data-drupal-link-system-path="node/236" style="color:#000000; padding-left: 25px; padding-right:25px;">SERVICIOS</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>
                            <li class="menu-item menu-item--collapsed colorMenu colorTextMenu">
                                <a href="@Url.Action("TableroControl", "Home")" style="color:#000000; padding-left: 25px; padding-right:25px;">TABLERO DE CONTROL</a>
                                <div class="menu_link_content menu-link-contentmain view-mode-mega-menu menu-dropdown">
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </nav>

        <div id="myNav" class="overlay">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="overlay-content">
                <a href="@Url.Action("Index", "Home")">INICIO</a>
                <a href="@Url.Action("ListModuleVirtual", "User")">ZONA DE APRENDIZAJE</a>
                <a href="@Url.Action("ComunidadSocial", "Home")">SERVICIOS</a>
                <a href="@Url.Action("TableroControl", "Home")">TABLERO DE CONTROL</a>
            </div>
        </div>

        <script>
            function openNav() {
                document.getElementById("myNav").style.display = "block";
            }
            function closeNav() {
                document.getElementById("myNav").style.display = "none";
            }
        </script>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        @*<li>@Html.ActionLink("Iniciar sesión", "Index", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @style= "color:#575756;  background-color:transparent;" })</li>*@
    </ul>
}

