
@using SCORM1.Models.ViewModel;
@using SCORM1.Models.Lms;
@model UserEnrollmentViewmodel
@Html.Partial("_LoginPartial")
<div class="panel-primary" style="background-image: url(../Content/Images/cursos/portada.jpg);height: 800px; background-repeat: no-repeat">
    @using (Html.BeginForm("SearchMVirtual", "User", FormMethod.Post, new { @class = "row", role = "search" }))
    {
        @*
            <div class="col-md-2">
                @Html.EditorFor(model => model.SearchModuleVirtual, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Curso" } })
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-default">Buscar</button>
            </div>
        *@
    }
    <div class="page-hat simple">
        <div class="page-hat--content">
            <div class="page-hat--title js-letters-effect clearfix text-formatted field field--type-text-long field--label-hidden field__items" style=" opacity: 1; margin-top: 80vh;position:relative;z-index:1; font-size:80px">
                <h2>
                    BIENVENIDO A LA ZONA DE <br />
                    <b>APRENDIZAJE INTERACTIVO</b>
                </h2>
            </div>
        </div>
    </div>
</div>

<div id="galeria-cursos">
    <div class="page-heading--content">
        <h2 class="page-heading--section" style="text-align: center">
            CURSOS <b>ACTIVOS</b>
        </h2>
    </div>
    @if (Model.enrollment != null)
    {
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <div class="row">
                        @foreach (var modules in Model.enrollment)
                        {
                            <div class="col-lg-4 col-md-6 col-xs-12">
                                <div class="card card-border">
                                    @if (modules.Enro_FinishDateModule > DateTime.Today)
                                    {
                                       // <a id="btn-curso" onclick="Comentar()" class="button-action" style="z-index:3">INGRESAR</a>

                                        <a id="btn-curso" href='@Url.Action("Grades", "User", new { id = @modules.Module.Modu_Id })' class="button-action" style="z-index:3">INGRESAR</a>
                                    }
                                    <div id="picturecursos" class="teaser-img--picture" style="background: white;">
                                        <picture>
                                            <source srcset="~/Resources/@modules.Module.Modu_ImageName" media="all and (min-width: 1280px)" type="image/jgp">
                                            <source srcset="~/Resources/@modules.Module.Modu_ImageName" media="all and (min-width: 960px)" type="image/jpg">
                                            <source srcset="~/Resources/@modules.Module.Modu_ImageName" media="all and (min-width: 640px)" type="image/jpg">
                                            <source srcset="~/Resources/@modules.Module.Modu_ImageName" type="image/jpg">
                                            <img src="~/Resources/@modules.Module.Modu_ImageName" alt=" " typeof="foaf:Image">
                                        </picture>
                                    </div>
                                    @*<img src="~/Content/Images/cursos/ejemplo-curso-1.jpg" alt="..." style="">*@
                                </div>
                                <div class="card-body ">
                                    <h4 style="text-transform:uppercase;color: #fc3650;"><b>@modules.Module.Modu_Name</b></h4>
                                    <p><b>Comienzo:</b>@modules.Enro_InitDateModule</p>
                                    <p><b>Termina:</b>@modules.Enro_FinishDateModule</p>
                                </div>
                            </div>
                        }
                    </div>
                </tbody>
            </table>
        </div>
    }
    else
    {
        <br /><br /><br /><br /><br />
        <div class="row">
            <center> <img src="~/Content/Images/No_cursos_virtuales_w.png" style="width:600px;" alt="Imagen responsive" class="img-responsive" /></center>

        </div>
    }
</div>




<div id="ModalPrueba" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acceso</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Va ha ingresar a un curso Sence <br/> ¿Esta deacuerdo?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<script>   

    var Comentar = function () {       
        $("#ModalPrueba").modal('show');

    };

</script>