@using SCORM1.Models.ViewModel;

@model UserProfileViewModel
@Html.Partial("_LoginPartial")


@Scripts.Render("~/bundles/jqueryval")



@if (TempData["Result"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#Result").modal();
            });
        </script>
    }}


<div id="encabezadocursos">
    <img src="~/Content/Images/perfil-usuario/banner-perfil-usuario.jpg" style="height:200px;width:100%" />
</div>
<div id="hiperlink">
    <img src="~/Content/Images/icon-home.png" alt="" style="margin-left:5%;width:25px" />
    <a href="@Url.Action("Index", "Home")" style="font-weight: bolder">INICIO/</a>
    <a href="#" style="font-weight: bolder">TABLERO DE CONTROL/</a>
    <a href="@Url.Action("ProfileUser", "User")" style="font-weight: bolder; color:#FC3650">SISTEMA DE PUNTOS</a>
</div>
<br />
<br />
<div class="container">
    <p style="text-align:center;font-size:50px">MI <b>PERFIL</b></p>
    <br />
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="~/Content/Images/perfil-usuario/user.png" alt="" style="width:50%;margin-left: 250px" />
        </div>
        <div class="col-md-6 col-xs-12" style="column-count:2">
            <h2><strong style="color:black; margin-left: 10px">  Información personal</strong></h2>
            <br />
            <div class="col-md-12">
                <p> <strong style="color:black">Nombre completo: </strong></p>
                <p> <strong style="color:black">Usuario: </strong></p>
                <p> <strong style="color:black">Documento: </strong></p>
                <p> <strong style="color:black">Rol: </strong></p>
                <p> <strong style="color:black">Ultima acceso: </strong></p>
                <p> <strong style="color:black">Primer acceso: </strong></p>
                <p> <strong style="color:black">Autorizado: </strong></p>
                <p> <strong style="color:black">Email: </strong></p>
                @if (Model.user.Area != null)
                {
                    <p> <strong style="color:black">Municipio: </strong></p>
                }
                else
                {
                    <p>No hay area</p>
                }
                @if (Model.user.Position != null)
                {
                    <p> <strong style="color:black">Ocupación: </strong></p>
                }
                else
                {
                    <p>No hay Cargo </p>
                }
            </div>
            <div class="col-md-12" style="margin-left: -100px">
                <br />
                <br />
                <p> @Model.user.FirstName  @Model.user.LastName</p>
                <p> @Model.user.UserName</p>
                <p> @Model.user.Document</p>
                <p> @Model.user.Role</p>
                <p> @Model.user.lastAccess</p><p></p>
                <p> @Model.user.firstAccess</p>
                <p> @Model.user.Enable</p>
                <p> @Model.user.Email</p>
                @if (Model.user.Area != null)
                {
                    <p>@Model.user.City.City_Name</p>
                }
                else
                {
                    <p>No hay area</p>
                }
                @if (Model.user.Position != null)
                {
                    <p>@Model.user.Position.Posi_Description</p>
                }
                else
                {
                    <p>No hay Cargo </p>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12"></div>
        <div class="col-md-6 col-xs-12">
            <hr />
            <h2 style="color:crimson"><strong>Documentos Importantes</strong></h2>
            <p style="font-size:18px"> <strong style="color:black">Términos y Condiciones: <a style="color:crimson" href="https://www.aprendeyavanza2.com.co/bureauveritastrainingcommunity/TermsandConditions/20210609174143-t%C3%A9rminos%20y%20condiciones.pdf" target="_blank"><u>clic aquí para consultar</u></a></strong></p>
            <p style="font-size:18px"> <strong style="color:black">Autorización de Tratamiento de datos: <a style="color:crimson" href="https://aprendeyavanza2.com.co/contentGroup/Bureau/Autorizaci%C3%B3n_Tratamiento_de_Datos_Ley_HABEAS_DATA_VF.pdf" target="_blank"><u>clic aquí para consultar</u></a></strong></p>
        </div>
    </div>
    <br />
    <br />
    <center><button data-toggle="modal" data-target="#myModal" class="button-action btn-responsive">Modificar Información</button></center>
</div>

<div class="col-md-12">
    <div class="col-md-12">
        <br />
    </div>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog1">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Modificar Datos</h2>
                </div>
                <div class="modal-body">

                    @using (Html.BeginForm("UpdateUser", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">

                            <p class="danger"> @TempData["Warning"]</p>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(x => x.user.Id)
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.user.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.user.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.user.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "El nombre de usuario debe ser mayor a 6 caracteres" } })
                                @Html.ValidationMessageFor(model => model.user.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.user.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.user.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.user.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.user.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.Country, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EnumDropDownListFor(model => model.user.Country, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.user.Country, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.user.Document, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.user.Document, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.user.Document, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.Label("Foto", htmlAttributes: new { @class = "control-label col-md-3" })
                                <input type="file" id="CoverpageModule" name="upload" />
                            </div>

                            <div class="col-md-12">
                                <br />
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <br /><br />
                                    <center><button class="btn btn-primary" name="singin" type="submit">Modificar</button></center>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div id="Result" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <strong> @TempData["Result"]</strong>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
