@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@using SCORM1.Enum;
@model UserTestViewModel
@Html.Partial("_LoginPartial")
@Styles.Render("~/Content/StyleHome.css")

@if (Model.acces == false)
{

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @*
        <div class="message">
            <h3>Estimado(a) estudiante @Model.UserLog Usted ya ha realizado el cuestionario</h3>
            <h4>
                su nota correspondiente es @Model.pointsObtained de 100%
            </h4>
        </div>
    *@
    <script type="text/javascript">

        window.history.forward(1);

    </script>


}
else
{

    <div id="encabezadocursos">
        <img src="~/Content/Images/evaluaciones/banner-evaluaciones.jpg" style="height:200px;width:100%" />
    </div>
    <div id="hiperlink">
        <img src="~/Content/Images/icon-home.png" alt="" style="margin-left:5%;width:25px" />
        <a href="@Url.Action("Index", "Home")" style="font-weight: bolder">INICIO / </a>
        <a href="@Url.Action("ListModuleVirtual", "User")" style="font-weight: bolder">CURSOS ACTIVOS / </a>
        <a style="font-weight: bolder; color:#FC3650">EVALUACIÓN</a>
    </div>
    <div class="panel-body">
        <br />
        <br />
        <p style="text-align:center; font-size: 70px;"><b>EVALUACIÓN</b></p>
        <br />
        <br />
        <div class="container" style="border:2px solid #FC3650;width:95%;padding:0px ">
            <br />
            <p style="text-align:left;padding: 0px 25px;color:#FC3650"><b>INSTRUCCIONES</b></p>
            <ul id="listaevaluacion" style="margin: 0px 30px">
                <br />
                <p>A continuación responde cada pregunta de acuerdo al conocimiento adquirido.</p>
                <br />
            </ul>
            <br />
            <p style="color:white;background-color:#FC3650;height:40px;padding :10px;text-align:center"><b>RECUERDA QUE TIENE UN TOTAL DE @Model.topic.ToCo_Attempt INTENTOS PARA APROBAR LA EVALUACIÓN</b></p>
        </div>
        <br />
        <br />

        @* <div class="container " style="width:95%;border:2px solid #000000">
                <br />
                <p style="font-size:25px;color:#FC3650;margin:10px"><b>TIPO DE PREGUNTA: FALSO / VERDADERO</b></p>
                <p style="margin:10px"><b>PREGUNTA #2.Titulo de la pregunta</b></p>
                <p style="margin:10px">Lorem</p>
                <br />
                <div class="list-group list-group-horizontal">
                    <a href="" class="list-group-item list-group-item-action">Falso</a>
                    <a class="list-group-item" style=" visibility: hidden">      </a>
                    <br />
                    <a href="" class="list-group-item list-group-item-action">Verdadero</a>
                </div>
                <br />
            </div>
        *@
    </div>


    using (Html.BeginForm("AnswerTest", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        <div class="panel panel-primary">
            <div class="panel-body">
                @Html.HiddenFor(model => model.ToCo_Id)
                @Html.HiddenFor(model => model.BaQu_Id)
                @Html.HiddenFor(model => model.topic.Module.Modu_Id)
                @Html.AntiForgeryToken()
                @*<p><strong>Las preguntas que se encuentran a continuación están basadas en los cursos virtuales del Programa Eco, </strong></p>*@
                @*
                    <p>@Html.Raw(Model.BankQuestion.BaQu_Description)</p>
                    <br />
                    <p><strong>Recuerda que tienes  @Model.topic.ToCo_Attempt intentos para aprobar la evaluación.</strong></p>
                *@

                @if (Model.Listgeneralquestion.Count == 0)
                {

                }
                else
                {
                    for (var i = 0; i < Model.Listgeneralquestion.Count; i++)
                    {

                        if (Model.Listgeneralquestion[i].TypeQuestion == TYPEQUESTIONS.OptionMultiple)
                        {

                            <div class="container" style="width:95%;border:2px solid #000000">
                                <br />
                                <p style="font-size:25px;color:#FC3650;margin:10px"><b>TIPO DE PREGUNTA:OPCIÓN MÚLTIPLE</b></p>
                                <p style="margin:10px;color:#333"><b> @Model.Listgeneralquestion[i].OpMu_Question</b></p>
                                <p style="margin:10px;color:#333">Descripción: @Model.Listgeneralquestion[i].OpMu_Description </p>
                                <p style="color:#000000"><strong>@Html.Raw(@Model.Listgeneralquestion[i].OpMult_Content) </strong></p>
                                @Html.HiddenFor(model => model.Listgeneralquestion[i].BaQu_Id, htmlAttributes: new { @style = "color:black !important,margin:10px " })
                                @Html.HiddenFor(model => model.Listgeneralquestion[i].OpMu_Id, htmlAttributes: new { @style = "color:black !important,margin:10px " })
                                @Html.HiddenFor(model => model.Listgeneralquestion[i].OpMu_Question, htmlAttributes: new { @style = "color:black !important,margin:10px" })
                                @Html.HiddenFor(model => model.Listgeneralquestion[i].OpMu_Description, htmlAttributes: new { @style = "color:black !important,margin:10px" })
                                @*@Html.Raw(Model.Listgeneralquestion[i].OpMu_Description)*@
                                @Html.HiddenFor(model => model.Listgeneralquestion[i].TypeQuestion, htmlAttributes: new { @style = "color:black !important," })
                                <div class="bs-example">
                                    <div class="btn-group btn-group-toggle btn-group-vertical" data-toggle="buttons">
                                        @{var cont = 0; }
                                        @foreach (AnswerOptionMultiple answeroptionmultiple in Model.Listgeneralquestion[i].listanswerOM)
                                        {
                                            cont = 1 + cont;
                                            var letra = "";

                                            if (answeroptionmultiple.OptionMultiple.OpMu_Id == Model.Listgeneralquestion[i].OpMu_Id)
                                            {
                                                if (cont == 1) { letra = "A) "; }
                                                if (cont == 2) { letra = "B) "; }
                                                if (cont == 3) { letra = "C) "; }
                                                if (cont == 4) { letra = "D) "; }
                                                if (cont == 5) { letra = "E) "; }
                                                if (cont == 6) { letra = "F) "; }
                                                if (cont == 7) { letra = "G) "; }
                                                if (cont == 8) { letra = "H) "; }
                                                if (cont > 8)
                                                {
                                                    letra = "Ha superado el numero de respuestas permitidas";
                                                }

                                                <div class="">
                                                    <label class="btn btn-cuestionario">
                                                        <b>@letra</b> @answeroptionmultiple.AnOp_OptionAnswer
                                                        @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].AnOp_Id, answeroptionmultiple.AnOp_Id, htmlAttributes: new { @type = "radio" })
                                                        @*<input class="form-control" type="radio" name="options" id="@answeroptionmultiple.AnOp_Id" autocomplete="off" > @answeroptionmultiple.AnOp_OptionAnswer*@
                                                    </label>
                                                </div>


                                                @*
                                                    <a class="list-group-item list-group-item-action" value="@Model.Listgeneralquestion[i].AnOp_Id" id="@answeroptionmultiple.AnOp_Id">
                                                        <span>
                                                            <b>@letra</b>
                                                        </span>@answeroptionmultiple.AnOp_OptionAnswer
                                                    </a>
                                                *@
                                                @* @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].AnOp_Id, answeroptionmultiple.AnOp_Id, htmlAttributes: new { @class = "col-md-1" })
                                                    <strong>@Html.Raw(answeroptionmultiple.Answer_OpMult_Content)</strong>
                                                    <label class="col-md-11"> @answeroptionmultiple.AnOp_OptionAnswer</label>
                                                *@
                                                <br />
                                            }

                                        }
                                    </div>
                                    @{cont = 0; }
                                </div>
                            </div>
                            <br />

                        }
                        else
                        {
                        }

                        if (Model.Listgeneralquestion[i].TypeQuestion == TYPEQUESTIONS.Pairing)
                        {
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].BaQu_Id)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].Pair_Id)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].Pair_Question)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].Pair_Description)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TypeQuestion)
                                    <br />
                                    <div class="container " style="border:2px solid #000000;width:95%">
                                        <div class="row">
                                            <div class="col-md-6 col-xs-12">
                                                <br />
                                                <p style="font-size:25px;color:#FC3650;margin:10px"><b>TIPO DE PREGUNTA: EMPAREJAMIENTO </b></p>
                                                <p style="margin:10px;color:#333"><strong>@Model.Listgeneralquestion[i].Pair_Question</strong></p>
                                                <p style="margin:10px;color:#333"><strong>Descripción: @Model.Listgeneralquestion[i].Pair_Description</strong></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12" style="margin:10px">
                                                @for (int a = 0; a < Model.Listrequestpairing.Count; a++)
                                                {
                                                    @Html.HiddenFor(model => model.Listrequestpairing[a].Pair_Id)
                                                    @Html.HiddenFor(model => model.Listrequestpairing[a].AnPa_IdOption)
                                                    @Html.HiddenFor(model => model.Listrequestpairing[a].AnPa_OptionsQuestion)
                                                    if (Model.Listrequestpairing[a].Pair_Id == Model.Listgeneralquestion[i].Pair_Id)
                                                    {
                                                        <div class="row">
                                                            <br />
                                                            <p>
                                                                <div class="col-md-6">
                                                                    <strong style="color:black">Respuesta: @Model.Listrequestpairing[a].AnPa_OptionsQuestion</strong>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.DropDownListFor(model => Model.Listrequestpairing[a].AnPa_IdRequest, Model.Listgeneralquestion[i].AnswerPairing, "-Selecciona la opción correcta-", new { htmlAttributes = new { @class = "form-control ", @style = "color:black" } })
                                                                </div>
                                                            </p>
                                                            <br />
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        }
                        else
                        {
                        }

                        if (Model.Listgeneralquestion[i].TypeQuestion == TYPEQUESTIONS.TrueorFalse)
                        {
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].BaQu_Id)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TrFa_Id)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TrFa_Question)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TrFa_Description)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TrFa_State)
                                    @Html.HiddenFor(model => model.Listgeneralquestion[i].TypeQuestion)

                                    <div class="container " style="width:95%;border:2px solid #000000">
                                        <br />
                                        <p style="font-size:25px;color:#FC3650;margin:10px"><b>TIPO DE PREGUNTA: FALSO / VERDADERO</b></p>
                                        <p style="margin:10px;color:black"><b>@Model.Listgeneralquestion[i].TrFa_Question</b></p>
                                        <p style="margin:10px;color:black">@Model.Listgeneralquestion[i].TrFa_Description</p>
                                        <br />

                                        <div class="bs-example row justify-content-between">
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="display: contents">
                                                <div class="col">
                                                    <label class="btn btn-cuestionario">
                                                        @OPTIONANSWER.Falso
                                                        @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].TrFa_Answer, @OPTIONANSWER.Falso, htmlAttributes: new { @type = "radio" })
                                                    </label>
                                                </div>
                                                <div class="col">
                                                    <label class="btn btn-cuestionario">
                                                        @OPTIONANSWER.Verdadero
                                                        @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].TrFa_Answer, @OPTIONANSWER.Verdadero, htmlAttributes: new { @type = "radio" })
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                    </div>
                                    @*<div class="comentario" style="color:black">
                                            <div class="fecha">
                                                @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].TrFa_Answer, @OPTIONANSWER.Verdadero, htmlAttributes: new { @class = " control-label col-sm-1" })
                                                <label>@OPTIONANSWER.Verdadero</label>
                                            </div>
                                            <br />
                                            <br />
                                            <div class="fecha">
                                                @Html.RadioButtonFor(model => Model.Listgeneralquestion[i].TrFa_Answer, OPTIONANSWER.Falso, htmlAttributes: new { @class = " control-label col-sm-1" })
                                                <label>@OPTIONANSWER.Falso</label>
                                            </div>
                                        </div>   *@
                                </div>
                            </div>
                            <br />

                        }
                        else
                        {

                        }
                    }

                    <div class="container" style="width:95%">
                        <div class="row justify-content-end">
                            <input id="btn-landing" class="col-md-4 button-action" style="position:relative;font-size:x-large;font-weight:bolder" type="submit" value="FINALIZAR EVALUACIÓN" />
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}