
@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@using SCORM1.Enum;
@model AnswerFormView
<script src="~/Scripts/Tinymce1/tinymce.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Catamaran:200,300,400,700,800&amp;subset=latin-ext" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    tinymce.init({
        selector: "textarea",
        height: 500,
        plugins: [
          "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak",
          "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
          "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
        ],

        toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
        toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
        toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | visualchars visualblocks nonbreaking template pagebreak restoredraft",
        connector: '@Model.baseUrl' + '/Upload/Index',
        menubar: false,
        toolbar_items_size: 'small',

        style_formats: [{
            title: 'Bold text',
            inline: 'b'
        }, {
            title: 'Red text',
            inline: 'span',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Red header',
            block: 'h1',
            styles: {
                color: '#ff0000'
            }
        }, {
            title: 'Example 1',
            inline: 'span',
            classes: 'example1'
        }, {
            title: 'Example 2',
            inline: 'span',
            classes: 'example2'
        }, {
            title: 'Table styles'
        }, {
            title: 'Table row 1',
            selector: 'tr',
            classes: 'tablerow1'
        }],

        templates: [{
            title: 'Test template 1',
            content: 'Test 1'
        }, {
            title: 'Test template 2',
            content: 'Test 2'
        }],

    });
</script>

@if (TempData["Info"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#Inform").modal();
            });
        </script>
    }}
<br /><br /><br />
@Scripts.Render("~/bundles/jqueryval")

<br /><br /><br /><br />
<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="@Url.Action("ViewJobsF", "Ratings", new {id=Model.Refo.Job_Id })" class="btn btn-info">FORO</a>
    </div>
</div>
<br /><br /><br />
<div class="panel panel-primary">

    <div id="Inform" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @TempData["Info"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="panel-heading panel-head"><center><h1 style="font-size:35px;">@Model.Refo.ReFo_Name</h1> </center></div>
    <div class="panel-body">
        <div class="col-md-12">
            <br /><br /><br />
            <p class="fecha"><em>@Model.Refo.ApplicationUser.FirstName @Model.Refo.ApplicationUser.LastName</em></p>
            <p class="fecha">
                @if (@Model.Refo.ApplicationUser.Foto_perfil != null)
            {
                    <img src="~/Resources/@Model.Refo.ApplicationUser.Foto_perfil" class='imgRedonda2' />
                }
                else
                {
                    <img src="~/Resources/perfil.png" class='imgRedonda2' />
                }
            </p>
            <h6 class="fecha">
                Fecha Publicación: @Model.Refo.ReFo_InitDate
            </h6>
            <br />
            <p>
                @Html.Raw(Model.Refo.ReFo_Content)
            </p>
        </div>
        <div class="col-md-12"> <br /><br /></div>
        <div class="col-md-12"> <br /></div>
        <br />
        <div class="col-md-12">
            <br /><br />
        </div>
        <div class="contenido-articulo">
            <br />
            @if (Model.Refo.AnswersForum.Count != 0)
            {
                foreach (var item in Model.Refo.AnswersForum)
                {
                    <div class="comentario">
                       @if (item.User_Id==Model.user.Id)
                       {                     
                            <div class="botones-edicion">
                            <a href="@Url.Action("DeleteAnswerComm", "Ratings", new { id = @item.AnFo_Id})"><i class="fa fa-remove" style="color: #f57c00"></i></a>                         
                        </div>
                       }
                        <p><em>@item.ApplicationUser.FirstName @item.ApplicationUser.LastName</em></p>
                        <p class="fecha">
                            @if (@item.ApplicationUser.Foto_perfil != null)
                            {
                                <img src="~/Resources/@item.ApplicationUser.Foto_perfil" class='imgRedonda2' />
                            }
                            else
                            {
                                <img src="~/Resources/perfil.png" class='imgRedonda2' />
                            }
                        <p>
<p>
                            @Html.Raw(item.AnFo_Content)
                        </p>
                        <p>
                           
                        </p>
                        <h6 class="fecha">
                            Fecha Publicación: @item.AnFo_InitDate
                        </h6>
                    </div>
                }
            }
        </div>
    </div>
    <div>
        <!-- here is the section of Create Comment -->
        @using (Html.BeginForm("CreateAnswerComment", "Ratings", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                            <div class="row">
                                <br />
                                @Html.HiddenFor(x => Model.Refo.ReFo_Id)
                                <div class="col-md-12">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(model => model.AnFo_Content, 10, 15, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AnFo_Content, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                              <div class="col-md-12">
                                  <br /><br />
                              </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-8">
                                        <center><button class="btn btn-primary" name="singin" type="submit">Enviar Comentario</button></center>
                                    </div>
                                </div>
                            </div>
                           
        }
                    </div>
                </div>
   


