@using SCORM1.Models.MeasuringSystem
@model ContentProficiencyViewModel
@Html.Partial("_LoginSuperAdmin")
@{
    ViewBag.Title = "Proficiencies";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-info">INICIO</a>
    </div>
</div>
<div class="jumbotron col-md-12">
    @using (Html.BeginForm("SearchProficiency", "ContentAdmin", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
    {
        <div class="form-group">
            @Html.EditorFor(model => model.SearchProficiency, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la Competencia" } })
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    }
    <br><hr style="width:100%; float:left; border:dashed; border-color: #A3DC68; border-width:thin;">
    <div class="table-responsive col-md-12 col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="success">
                    <th>Nombre</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Proficiency proficiency in Model.Proficiencies)
                {
                    <tr>
                        <td>@proficiency.ProficiencyDescription</td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Modificar" onclick="LoadUpdateProficiency(@proficiency.ProficiencyId)" data-cname="@proficiency.ProficiencyId" />
                        </td>
                        <td>
                            @*@using (Html.BeginForm("Deleteproficiency", "ContentAdmin", FormMethod.Post, new { id = "deleteForm" }))

                                {*@
                            <input type="submit" onclick="confirm_meth('@proficiency.ProficiencyId')" data-cname="@proficiency.ProficiencyId" class="btn btn-primary" value="Eliminar" />
                            @*<input type="submit" formaction="~/ContentAdmin/DeleteProficiency/@proficiency.ProficiencyId" class="btn btn-primary" value="Eliminar" />*@
                            @*}*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="UpdateProficiencySection">

    </div>
    <br><hr style="width:100%; clear:both; border:dashed; border-color: #A3DC68; border-width:thin; margin-bottom:10px;">
    <div class="caja_botones" style="clear:both;">
        <button id="BTN_ADD" class="botones_pregunta">Añadir Competencia</button>
    </div>
    <br />
    <div id="AddProficiencySection">

    </div>

    <script>
        document.getElementById("BTN_ADD").onclick = function () { LoadProficiencyDiv() };
        function LoadProficiencyDiv() {

            $("#AddProficiencySection").load('@Url.Action("AddProficiency","ContentAdmin")');
        }

        function LoadUpdateProficiency(proficiencyID) {
            var link = '@Url.Action("UpdateProficiency", "ContentAdmin", new { id = "value" })';
            link = link.replace("value", proficiencyID)
            $("#UpdateProficiencySection").load(link);
        }
    </script>
    <script type="text/Javascript" language="javascript">
        function confirm_meth(ProfiencyId)
{
  if( confirm("Quieres eliminar la competencia ?")==true)
  {
      var Q = ProfiencyId;
      window.location.href = ' @Url.Action("DeleteProficiency", "ContentAdmin", new {id = "ID"})'.replace("ID",Q);
   }
  else
  {
      var link = '@Url.Action("Proficiencies", "ContentAdmin")';
  }
}
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
