@using SCORM1.Models.MeasuringSystem
@model ContentTestViewModel
@Html.Partial("_LoginSuperAdmin")
@{
    ViewBag.Title = "Tests";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-info">INICIO</a>
    </div>
</div>
<div class="jumbotron col-md-12">
    @using (Html.BeginForm("SearchTest", "ContentAdmin", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
    {
        <div class="form-group">
            @Html.EditorFor(model => model.SearchTest, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre de la Prueba" } })
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    }
    <br><hr style="width:100%; float:left; border:dashed; border-color: #A3DC68; border-width:thin;">
    <div class="table-responsive col-md-12 col-sm-12">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="success">
                    <th>Nombre</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Test Test in Model.Tests)
                {
                    <tr>
                        <td>@Test.TestDescription</td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Modificar" onclick="LoadUpdateTest(@Test.TestId)" data-cname="@Test.TestId" />
                        </td>
                        <td>
                            @*@using (Html.BeginForm("DeleteTest", "ContentAdmin", FormMethod.Post, new { id = "deleteForm" }))
                                {
                                    <input type="submit" formaction="~/ContentAdmin/DeleteTest/@Test.TestId" class="btn btn-primary" value="Eliminar" />
                                }*@
                            <input type="submit" onclick="confirm_meth('@Test.TestId')" data-cname="@Test.TestId" class="btn btn-primary" value="Eliminar" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="UpdateTestSection">

    </div>
    <br><hr style="width:100%; clear:both; border:dashed; border-color: #A3DC68; border-width:thin; margin-bottom:10px;">
    <div class="caja_botones" style="clear:both;">
        <button id="BTN_ADD" class="botones_pregunta">Añadir Prueba</button>
    </div>
    <br />
    <div id="AddTestSection">

    </div>

    <script>
        document.getElementById("BTN_ADD").onclick = function () { LoadTestDiv() };
        function LoadTestDiv() {

            $("#AddTestSection").load('@Url.Action("AddTest","ContentAdmin")');
        }

        function LoadUpdateTest(TestID) {
            var link = '@Url.Action("UpdateTest", "ContentAdmin", new { id = "value" })';
            link = link.replace("value", TestID)
            $("#UpdateTestSection").load(link);
        }
    </script>
    <script type="text/Javascript" language="javascript">
        function confirm_meth(TestId)
{
  if( confirm("Quieres eliminar el test ?")==true)
  {
      var Q = TestId;
      window.location.href = ' @Url.Action("DeleteTest", "ContentAdmin", new {id = "ID"})'.replace("ID",Q);
   }
  else
  {
      var link = '@Url.Action("Tests", "ContentAdmin")';
  }
}
    </script>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
