@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@using SCORM1.Enum;
@model AdminPreviw
@Scripts.Render("~/bundles/jqueryval")
@if (TempData["Info"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#DeleteInfo").modal();
            });
        </script>
    }}
@if (Model.setting.Sett_Audio1 != null)
{
    <audio src="~/ResourceGame/@Model.setting.Sett_Audio1" autoplay loop></audio>
}
<div id="DeleteInfo" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <h1 style="color:red"> @TempData["Info"]</h1>
                <br />
                @if (Model.setting.MG_MultipleChoice.Count != 0)
                {
                    <h1 style="color:red">Preguntas actuales</h1>
                    <br />
                    <h4 style="color:red">Nivel Facil : @Model.facil preguntas</h4>
                    <br />
                    <h4 style="color:red">Nivel Medio: @Model.medio preguntas</h4>
                    <br />
                    <h4 style="color:red">Nivel Dificil: @Model.dificil preguntas</h4>
                    <br />
                }
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<body style="background:url(../../ImgTemplate/@Model.setting.MG_Template.Plant_Img_instructions); background-size: cover;background-position: center center;background-repeat: no-repeat;background-attachment: fixed;">
    <br /><br /><br /><br /><br /><br />
    <div class="row fecha">
        <div class="btn-group btn-breadcrumb">
            <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
            <a href="@Url.Action("Setting", "AdminGame")" class="btn btn-info">Ajuste Juego</a>
            <a href="@Url.Action("MgQuestions", "AdminGame", new {id = Model.Sett_Id})" class="btn btn-info">Preguntas</a>
        </div>
    </div>
    <br />
    <div class="col-md-4">
        <div class="col-md-3" style="background:url(../../ResourceGame/Ranking_1.png);background-repeat: no-repeat; width:310px;height:640px;">
            <div class="col-md-12">
                <br /><br /><br /><br />
            </div>
            @if (Model.ListRanking.Count != 0)
            {
                foreach (var item in Model.ListRanking.Take(10))
                {
                    <h1 style="font-size:19px; text-align:left; padding-left: 16px;">@item.Ranking @item.user.FirstName @item.user.LastName @item.puntos</h1>
                }
            }
        </div>
    </div>
    
    <div class="preguntas2 col-md-4" style="left:480px;"> 
        @if (Model.facil >= 15 && Model.medio >= 18 && Model.dificil >= 15)
        {        
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsFacil[0].MuCh_ID, contador=2})">
                            <img src="~/ResourceGame/Nivel1.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsFacil[1].MuCh_ID, contador=3})" >
                            <img src="~/ResourceGame/2 (6).png" class="img-responsive" />
                            </a>
                        </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsFacil[2].MuCh_ID, contador=4})">
                            <img src="~/ResourceGame/Nivel3.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsFacil[3].MuCh_ID, contador=5})" >
                            <img src="~/ResourceGame/4 (1).png" class="img-responsive" />
                        </a>
                     </div>               
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[0].MuCh_ID, contador=6})">
                            <img src="~/ResourceGame/5 (1).png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[1].MuCh_ID, contador=7})">
                            <img src="~/ResourceGame/Nivel6.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[2].MuCh_ID, contador=8})">
                            <img src="~/ResourceGame/Nivel7.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[3].MuCh_ID, contador=9})">
                            <img src="~/ResourceGame/Nivel8.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[4].MuCh_ID, contador=10})">
                            <img src="~/ResourceGame/Nivel9.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsMedio[5].MuCh_ID, contador=11})">
                            <img src="~/ResourceGame/Nivel10.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsDificil[0].MuCh_ID, contador=12})">
                            <img src="~/ResourceGame/Nivel11.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsDificil[1].MuCh_ID, contador=13})">
                            <img src="~/ResourceGame/Nivel12.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsDificil[2].MuCh_ID, contador=14})">
                            <img src="~/ResourceGame/Nivel13.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsDificil[3].MuCh_ID, contador=15})">
                            <img src="~/ResourceGame/Nivel14.png" class="img-responsive" />
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="@Url.Action("Question", "ViewGame", new {id = Model.listquestionsDificil[4].MuCh_ID, contador=16})">
                            <img src="~/ResourceGame/Nivel15.png" class="img-responsive" />
                        </a>
                    </div>
        }
        else
        {
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
            <div class="col-md-4">
                <img src="~/ResourceGame/Pregunta.png" class="img-responsive" />
            </div>
        }      
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4" style="left:100px;">
    
        <div class="col-md-12">
            <div class="col-md-12">
                <br /><br /><br />
            </div>
            <button class="btn btn-primary" onclick="ResteUserGame('@Model.Sett_Id')" id="@Model.Sett_Id">Borrar Datos del Juego</button>
        </div>
    </div>
</body>

<script>
    //method Delete User
    function ResteUserGame(Sett_Id) {
        if (confirm("Elimiar Datos del Juego (Perdera toda la información del juego sobre la participación de los usuaios. (NO se puede revertir))") == true) {
            var set = Sett_Id;
            window.location.href = ' @Url.Action("ResetGame", "ViewGame", new { Id = "ID" })'.replace("ID", set);
        }
    }


</script>