@using SCORM1.Models.ViewModel;
@using SCORM1.Models.ClientProfile;
@model ClienteViewModel
@Html.Partial("_LoginPartial")
@{
    ViewBag.Title = "ViewClient";
}

    <style>
    .contenedor{
        display:flex;
        justify-content: space-evenly;
        padding-left:700px

    }

    .perfildesc{
        color:#00ff21;
    }

    .perfildesc:hover{
        @*content: "@Model.cliente.Clasificacion.Descripcion ";*@
    }

    </style>
    <script>
        $(document).ready(function (){
            $('[data-toogle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            var perfilDropdown = $("#perfilDropdown");

            perfilDropdown.change(function () {
                $("#nameTextbox").val(perfilDropdown.find(':select').data('name'));

            });

            perfilDropdown.change();
        })
    </script>

<div class="panel-primary" style="background-image:url(../../Content/Images/slider-login/slide-2.jpg);height: 500px; background-repeat: no-repeat">
    <div class="page-hat simple">
        <div class="page-hat--content">
            <div class="page-hat--title js-letters-effect clearfix text-formatted field field--type-text-long field--label-hidden field__items" style=" opacity: 1; margin-top: 50vh;position:relative;z-index:1; font-size:80px; color:#dcdcdc">
                <h2>
                    PERFILAMIENTO DE CLIENTES<br />
                    <b>ACTUALIZAR REGISTRO</b>
                </h2>
            </div>
        </div>
    </div>
</div>
<!--Para regresar al home-->
<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "ClientProfile")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
    </div>
</div>
<br/>
        <br />
        <div class="container">
            <div>
                @using (Html.BeginForm("EditClient", "ClientProfile", FormMethod.Post, new { @class = "row", role = "form", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="container">
                        <p style="text-align:center;font-size:50px">ACTUALIZAR PERFIL DEL <b>CLIENTE</b></p>
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <img src="~/Content/Images/perfil-usuario/user.png" alt="" style="width:50%;margin-left: 250px" />
                            </div>
                            @Html.HiddenFor(model => model.cliente.id)
                            <div class="col-md-6 col-xs-12" style="column-count:2">
                                <h2><strong style="color:black; margin-left: 10px"> Datos del Cliente</strong></h2>
                                <br />
                                <div class="col-md-12">
                                    <p> <strong style="color:black">Nombre: </strong></p>
                                    <p> <strong style="color:black">Apellido: </strong></p>
                                    <p> <strong style="color:black">Razón Social: </strong></p>
                                    <p> <strong style="color:black">Día de Visita: </strong></p>
                                    <p> <strong style="color:black">Perfil: </strong></p>
                                </div>
                                <div class="col-md-12" style="margin-left: -100px">
                                    <br />
                                    <br />
                                    <p> @Html.DisplayFor(model => model.cliente.firstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombres" } })</p>
                                    <p> @Html.DisplayFor(model => model.cliente.lastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellidos", @style = "width:100%" } })</p>
                                    <p> @Html.DisplayFor(model => model.cliente.enterpriseName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Razón Social", @style = "width:100%" } })</p>
                                    <p> @Html.DisplayFor(model => model.cliente.Dia.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Día de Visita", @style = "width:100%" } })</p>
                                    @if (Model.cliente.Clasificacion != null)
                                    {
                                        
                                        @*<select id="perfilDropdown" name="@Html.NameFor(x => x.cliente.Clasificacion.id)">
                                            <option value="Seleccione Perfil"></option>
                                            @foreach (var perfil in Model.listOfCalification)
                                            {
                                                <option data-toggle="tooltip" data-placement="rigth" title="@perfil.Descripcion" value="@perfil.id" data-name="@perfil.name"
                                                        @if (Model.cliente.Clasificacion.id == perfil.id)  { <text> selected="selected" </text> }>

                                                    @perfil.name
                                                </option>

                                            }
                                            @Html.ValidationMessageFor(model => model.cliente.id)
                                        </select>*@



                                        @Html.DropDownListFor(model => model.cliente.idClasificacion, new SelectList(Model.listOfCalification, "id", "name"), "Clasificación", htmlAttributes: new { @class = "form-control", @style = "width:100%", title= "Descripción:" + Model.cliente.Clasificacion.Descripcion })
                                    }
                                    else
                                    {

                                        <p> @Html.DropDownListFor(model => model.cliente.idClasificacion, new SelectList(Model.listOfCalification, "id", "name"), "Clasificación", htmlAttributes: new { @class = "form-control", @style = "width:100%", })</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8" style="margin-left:300px">
                                <br /><br />
                                <center><button class="button-action btn-responsive" name="singin" type="submit" value="submit">Actualizar Perfil</button></center>
                            </div>
                        </div>
                        @*<center><button data-toggle="modal" data-target="#myModal" class="button-action btn-responsive">Modificar Información</button></center>*@
                    </div>
                }
            </div>
        </div>