@using SCORM1.Models.Lms;
@using SCORM1.Models.ViewModel;
@model AdminGameQuestionViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@if (TempData["Add"] != null)
{
    <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        @TempData["Add"]
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
@if (TempData["Form"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#EditOpenQuestion").modal();
            });
        </script>
    }}
else
{

}
<br /><br /><br /><br /><br /><br />
<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
        <a href="@Url.Action("Setting", "AdminGame")" class="btn btn-info">Ajuste Juego</a>
        <a href="@Url.Action("MgQuestions", "AdminGame", new {id = Model.Sett_Id})" class="btn btn-info">Preguntas</a>
    </div>
</div>
<br /><br /><br />
<div class="panel panel-primary">
    <div id="EditOpenQuestion" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("EditMultipleChoices", "AdminGame", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="row">

                            <div class="col-md-5">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.Sett_Id)
                                @Html.HiddenFor(model => model.MuCh_ID)
                                @Html.LabelFor(model => model.MuCh_NameQuestion, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.EditorFor(model => model.MuCh_NameQuestion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Texto pregunta", @style = "width:70%" } })
                                @Html.ValidationMessageFor(model => model.MuCh_NameQuestion, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(model => model.MuCh_Description, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.MuCh_Description, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                                @Html.ValidationMessageFor(model => model.MuCh_Description, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.LabelFor(model => model.MuCh_Level, htmlAttributes: new { @class = "control-label col-md-3" })
                                @Html.EnumDropDownListFor(model => model.MuCh_Level, new { @class = "form-control", @style = "width:70%" })
                                @Html.ValidationMessageFor(model => model.MuCh_Level, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-7">
                                @Html.LabelFor(model => model.MuCh_Feedback, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.MuCh_Feedback, new { htmlAttributes = new { @class = "form-control", @style = "width:60%" } })
                                @Html.ValidationMessageFor(model => model.MuCh_Feedback, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.Label("Imagen", htmlAttributes: new { @class = "control-label col-md-3" })
                                <input type="file" id="CoverpageModule" name="upload" title="Imagen de pregunta" />
                            </div>
                            <div class="col-md-12">
                                <br /><br />
                            </div>
                            <br />
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <center><button class="btn btn-primary" name="singin" type="submit">Modificar</button></center>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
    <div class="panel-heading panel-head"><center><h1 style="font-size:35px;"> Preguntas</h1></center></div>
    <div class="panel-body">

        @foreach (var option in Model.Setting.MG_MultipleChoice)
        {
            <br />
            <div class="comentario">
                <div class="botones-edicion">
                    <a href="@Url.Action("DeleteMultipleChoice", "AdminGame", new { id = @option.MuCh_ID })"><i class="fa fa-remove" style="color: #f57c00"></i></a>
                    <a href="@Url.Action("EditMultipleChoice", "AdminGame", new { id = @option.MuCh_ID })"><i class="fa fa-cog" style="color: #f57c00"></i></a>
                </div>
                <p>
                    <h4 class="fecha">Pregunta</h4>
                </p>
                <p><strong>@option.MuCh_NameQuestion</strong></p>
                <p><em>@option.MuCh_Description</em></p>
                <p><em> Nivel: @option.MuCh_Level</em></p>
                <p><em>Retroalimentación: @option.MuCh_Feedback</em></p>
                @foreach (var answeroptionmultiple in option.MG_AnswerMultipleChoice)
                {
                    if (answeroptionmultiple.MuCh_ID == option.MuCh_ID)
                    {
                        <br />
                        <div class="comentario">
                            <div class="botones-edicion">
                                <a href="@Url.Action("DeleteAnswerMultipleChoice", "AdminGame", new { id = @answeroptionmultiple.AnMul_ID })"><i class="fa fa-remove" style="color: #f57c00"></i></a>
                                <a href="@Url.Action("EditAnswerOMultiple", "AdminGame", new { id = @answeroptionmultiple.AnMul_ID })"><i class="fa fa-cog" style="color: #f57c00"></i></a>
                            </div>
                            <p>
                                <h4 class="fecha">Respuesta</h4>
                            </p>
                            <p><strong>@answeroptionmultiple.AnMul_Description</strong></p>
                            <p><em>@answeroptionmultiple.AnMul_TrueAnswer</em></p>
                        </div>
                        <br />
                    }
                }
            </div>
            <br />
            <div class="col-md-4">
                <p>
                    <center><input type="submit" value="Añadir Respuesta" onclick="AddAnswerMultCho('@option.MuCh_ID')" data-cname="@option.MuCh_ID" class="btn btn-primary" /></center>
                </p>
            </div>
            <br /><br />
        }
        <div id="AddAnswerOptionMultiple">

        </div>
        <div id="AddOptionMultiple">

        </div>
        <br /><br /><br />
        <div class="col-md-offset-2 col-md-8">
            <p>
                <center><input type="submit" value="Añadir otra Pregunta" onclick="AddQuestionMultCho('@Model.Sett_Id')" data-cname="@Model.Sett_Id" class="btn btn-primary" /></center>
            </p>
        </div>
    </div>
</div>
<script>
     function AddAnswerMultCho(MuCh_ID) {
        var link = '@Url.Action("AddAnswerMultiplesChoise", "AdminGame", new { id = "value" })';
            link = link.replace("value", MuCh_ID)
            $("#AddAnswerMultipleChoice").load(link);
    }
        function AddQuestionMultCho(Sett_Id) {
        var link = '@Url.Action("AddOtherMultipleChoice", "AdminGame", new { id = "value" })';
            link = link.replace("value", Sett_Id)
            $("#AddMultipleChoice").load(link);
    }
</script>