
@using SCORM1.Models;
@using SCORM1.Models.Engagement;
@using SCORM1.Models.ViewModel;
@using SCORM1.Enum;
@Html.Partial("_LoginSuperAdmin")
@model AdminReports

@if (TempData["Menssages"] != null)
{
    @section Scripts {
        <script type="text/JavaScript">
            $(document).ready(function () {
                $("#Menssages").modal();
            });
        </script>
    }}

<div id="Menssages" class="modal fade" role="dialog">
    <div class="modal-dialog1">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    @TempData["Menssages"]
                </p>
            </div>
            <br />
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<h1 class="title">GESTIÓN REPORTES</h1>


<div class="row fecha">
    <div class="btn-group btn-breadcrumb">
        <a href="@Url.Action("Index", "Home")" class="btn btn-info"><i class="glyphicon glyphicon-home"></i></a>
    </div>
</div>



<div class="jumbotron3">
    @if (Model.user.Role != ROLES.AdministradordeFormacion)
    {
        <div class="col-md-3">
            <a href='@Url.Action("ExportToExcel1", "AdminGeneral")'>
                <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
            </a>
            <h4>@Html.ActionLink("Accesos Usuarios", "ExportToExcel1", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
        </div>
    }
    <div class="col-md-3">
        <a href='@Url.Action("ExportToExcel", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/progreso_curso.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Progreso  Curso", "ExportToExcel", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("ExportToExcel2", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/certificado_curso.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink(" Certificado Curso", "ExportToExcel2", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("ExportToExcel26", "User")'>
            <img src='@Url.Content("~/Content/Images/matriculados_curso.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Matriculados", "ExportToExcel26", "User", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    @if (Model.user.Role != ROLES.AdministradordeFormacion)
    {
        <div class="col-md-3">
            <a href='@Url.Action("ExportToExcel21", "AdminGeneral")'>
                <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
            </a>
            <h4>@Html.ActionLink("No Accesos", "ExportToExcel21", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
        </div>
    }
    @if (Model.user.Role != ROLES.AdministradordeFormacion)
    {
        <div class="col-md-3">
            <a href='@Url.Action("ExportToExcel7", "AdminGeneral")'>
                <img src='@Url.Content("~/Content/Images/comen_periodo.png")' style="width:90%; height:80%;" />
            </a>
            <h4>@Html.ActionLink("Periodico", "ExportToExcel7", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
        </div>
    }
    <div class="col-md-3">
        <a href='@Url.Action("ExportToExcel9", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/mejoras.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Mejora", "ExportToExcel9", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3">
        <a href='@Url.Action("ExportToExcel8", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/buenas_practicas.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Buenas Practicas", "ExportToExcel8", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-12">
        <br />
    </div>
    @if (Model.user.Role != ROLES.AdministradordeFormacion)
    {
        <div class="col-md-3">
            <a href='@Url.Action("ExportToExcel6", "AdminGeneral")'>
                <img src='@Url.Content("~/Content/Images/puntos_usuario.png")' style="width:90%; height:80%;" />
            </a>
            <h4>@Html.ActionLink("Puntos", "ExportToExcel6", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
        </div>
    }
    <div class="col-md-3">
        <a href='@Url.Action("ReportUserIndividual", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Avance Individual", "ReportUserIndividual", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3" style="padding-bottom:60px">
        <a href='@Url.Action("ReportUserCertification", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Certificado Individual", "ReportUserCertification", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    @if (Model.user.Role != ROLES.AdministradordeFormacion)
    {
        <div class="col-md-3">
            <a href='@Url.Action("ReportUserLogs", "AdminGeneral")'>
                <img src='@Url.Content("~/Content/Images/matriculados_curso.png")' style="width:90%; height:80%;" />
            </a>
            <h4>@Html.ActionLink("Logs Compañia", "ReportUserLogs", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
        </div>
    }
    <div class="col-md-12">
        <br />
    </div>
    <div class="col-md-3" style="padding-bottom:60px">
        <a href='@Url.Action("ExportToExcel30", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Calificacion Individual", "ExportToExcel30", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3" style="padding-bottom:60px">
        <a href='@Url.Action("ExportToExcel31", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Calificacion Individual Reprobados ", "ExportToExcel31", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
    <div class="col-md-3" style="padding-bottom:60px">
        <a href='@Url.Action("ExportToExcelQS", "AdminGeneral")'>
            <img src='@Url.Content("~/Content/Images/usuarios_registrados.png")' style="width:90%; height:80%;" />
        </a>
        <h4>@Html.ActionLink("Reporte ¿Quíen Sabe Más?", "ExportToExcelQS", "AdminGeneral", new { ReturnUrl = ViewBag.ReturnUrl }, new { @class = "", role = "form", @style = "color:#bc112e;background-color:transparent;" })</h4>
    </div>
</div>
