@using SCORM1.Models.ViewModel;
@using SCORM1.Enum;
@using PagedList.Mvc;
@model EdutuberViewModel
@Html.Partial("_LoginPartial")
@{
    ViewBag.Title = "EdutuberIndex";
}

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Site Metas -->
<title>Edutuber</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<!-- Site Icons -->
<link rel="shortcut icon" href="images/logo-fab.png" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/logo.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/css/bootstrap.min.css">
<!-- Site CSS -->
<link rel="stylesheet" href="~/css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="~/css/responsive.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="~/css/custom.css">
<script src="js/modernizr.js"></script> <!-- Modernizr -->


<link href="csss/magnific-popup.css" rel="stylesheet">

    <style>
        .count-like {
            margin-top: 5px;
            margin-right: 20px;
            margin-left: -35px;
            color: #000000;
            font-weight: 700;
        }
        .margin-container-video {
            margin-left: 5%;
            margin-right: 5%
        }
        .title-page{
            color: #ffffff !important;
            font-size: 60px !important;
            font-weight:600 !important;
            margin-top: -10%;
        }
    </style>

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body id="page-top" class="politics_version">



    <!-- Navigation -->
    <div class="panel-primary" style="background-image: url(/Content/Images/slider-login/banner-edutuber.jpg);height: 200px; background-repeat: no-repeat">
        @using (Html.BeginForm("SearchMVirtual", "User", FormMethod.Post, new { @class = "row", role = "search" }))
        {
            @*
            <div class="col-md-2">
                @Html.EditorFor(model => model.SearchModuleVirtual, new { htmlAttributes = new { @class = "form-control", placeholder = "Nombre del Curso" } })
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-default">Buscar</button>
            </div>
            *@
        }
        <div class="page-hat simple">
            <div class="page-hat--content">
                <div class="page-hat--title js-letters-effect clearfix text-formatted field field--type-text-long field--label-hidden field__items" style="color:#ffffff; opacity: 1; margin-top: 25vh;position:relative;z-index:1; font-size:80px">
                    <br />
                    <br />
                    <h2 class="title-page">
                        <b>EDUTUBER</b>
                    </h2>
                </div>
            </div>
        </div>
    </div>

    <!--	<section id="home" class="main-banner parallaxie" style="background: url('images/banner-02.jpg')">
            <div class="heading">
                <h1>Bienvenido a Training Community</h1>
                <h3 class="cd-headline clip is-full-width">
                    <span>Donde podras capacitarte en: </span>
                    <span class="cd-words-wrapper">
                        <b class="is-visible">SG-SST</b>
                        <b>ISO's</b>
                        <b>Creative Design</b>
                        <b>Graphic Design</b>
                    </span>
                </h3>
            </div>
        </section>-->

    <div id="portfolio" class="section lb">
        <div class="container">
            <div class="section-title text-center">
                <br>
                <h1>Eduteca</h1>
                <p>Estos son los contenidos audiovisuales para ayudar en tu formación <br> </p>
            </div><!-- end title -->

            @*@foreach (var item in Model.ListEdutuberVideo)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_Descri)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_UrlVideo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_UrlImag1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_UrlImag2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EduVid_UrlExpe)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.EduVideo_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.EduVideo_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.EduVideo_id })
                    </td>
                </tr>
            }*@


            <div class="gallery-list row">
                @foreach (var itemv in Model.ListEdutuberVideo)
                {
                    <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_a">
                        <div class="gallery-single fix">
                            <img src="@Html.Raw(itemv.EduVid_UrlImag1)" class="img-fluid" alt="Image">

                            <div class="img-overlay">
                                <a href="@Html.Raw(itemv.EduVid_UrlVideo)" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><img src="@Html.Raw(itemv.EduVid_UrlImag2)" class="img-fluid" alt=""></a>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between margin-container-video">
                            <div class="button-group filter-button-group row">
                                <h3>@Html.Raw(itemv.EduVid_Titulo)</h3>
                                <p>
                                    @Html.Raw(itemv.EduVid_Descri)
                                </p>                            
                                <div class="row">
                                    <div class="col-sm-5"><button class="active" data-filter="*">Me Gusta</button></div>
                                    <div class="col-sm-1 count-like"><p>@Html.Raw(itemv.EduVid_CountLike)</p></div>
                                    <div class="col-sm-3"><button class="active" onclick="window.location='@Html.Raw(itemv.EduVid_UrlExpe)'" data-filter="*">Experiencias</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    <!-- ALL JS FILES -->
    <script src="js/all.js"></script>
    <!-- Camera Slider -->
    <script src="js/jquery.mobile.customized.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/parallaxie.js"></script>
    <script src="js/headline.js"></script>
    <!-- ALL PLUGINS -->
    <script src="js/custom.js"></script>



    <script src="jss/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>
<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>-->
        @*<th>
                @Html.DisplayNameFor(model => model.EduVid_Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVid_Descri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVid_UrlVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVid_UrlImag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVid_UrlImagen2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EduVid_UrlExpe)
            </th>
            <th></th>*@
    <!--</tr>

    

</table>-->
