@model IEnumerable<SCORM1.Models.Edutuber.EdutuberVideo>

@{
    ViewBag.Title = "Edutuber";
}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<style>
    :root{
        --color-BarraSup: @Model.ColorBarraSup;
        --color-Iconos: @Model.ColorIconos;
        --color-Textos: @Model.ColorTextos;
        --color-Boton: @Model.ColorBoton;
        --color-Textbtn: @Model.ColorTextBtn;
        --color-Menu: @Model.ColorMenu;
        --color-TextMenu: @Model.ColorTextMenu;
		}
    .titulostabla {
        color:#ffffff;
        text-align: center;
        font-weight: bolder;
        background-color: #be1622;
    }

    .tablaclientes {
        padding-top: 20px;
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 30px;
    }

    .btn-asignarperfil {
        display: flex;
        justify-content: space-around;
        color: #be1622;

    }

    .btn-buscarcliente{
        display:flex;
        padding-top:20px;

    }


</style>
<h2>Edutuber</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_Titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_Descri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_UrlVideo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_UrlImag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_UrlImagen2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EduVid_UrlExpe)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_Descri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_UrlVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_UrlImag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_UrlImagen2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EduVid_UrlExpe)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EduVideo_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.EduVideo_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EduVideo_id })
            </td>
        </tr>
    }

</table>
